/* DESKTOP FIRST */

/* TABLET */
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        height: 100vh;
    }

    .nav{
        width: 10%;
    }

    .chat-ui{
        width: 90%;
    }

    .search-contact{
        display: none;
    }

    .notifications{
        display: none;
    }

    .all-contact{
        height: 91vh;
    }

    .messages{
        height: calc(100vh - 120px);
    }
}

@media screen and (max-width: 480px) {
    .nav{
        display: none;
    }

    .chat-ui{
        width: 100%;
    }
}