/* DESKTOP FIRST */

/* TABLET */
@media screen and (max-width: 768px) {
    /* layout */
    .container{
        width: 100%;
        height: 100vh;
    }

    /****************** LEFT *****************/
    /* NAV */
    .nav{
        width: 80px;
    }

    .nav main{
        height: calc(100% - (var(--headerheight)) - (var(--inputbarheight)));
    }

    .nav .tool-bar{
        display: none;
    }

    .nav header{
        justify-content: center;
    }

    /* NOTIFICATIONS */
    .nav .notifications{
        display: none;
    }

    /* SEARCH */
    .search-contact{
        display: none;
    }

    /* CONTACTS */
    .contact-card{
        justify-content: center;
    }

    .all-contact{
        width: 80px;
        height: 100%;
    }
    .contact-preview{
        justify-content: center;
    }

    .message-preview{
        display: none;
    }

    /***************** RIGHT *******************/
    /* CHAT */
    .chat-ui{
        width: calc(100% - 80px);
    }
    
    .messages{
        height: calc(100% - 120px);
        padding: 1rem 1rem;
    }
}

@media screen and (max-width: 480px) {

    /****************** LEFT *****************/
    .nav{
        display: none;
    }

    /***************** RIGHT *******************/
    .chat-ui{
        width: 100%;
    }

    .chat-ui .tool-bar{
        display: none;
    }

    .message{
        width: 80%;
    }

    .emoji , .audio-message{
        display: none;
    }

    #type{
        width: 90%;
    }
}