/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
/* layout */
main{
    height: 100vh;

    /* DEBUG */
    background-color: green;
}

.container{
    width: 80%;
    height: 93vh;

    /* DEBUG */
    background-color: blue;
}

.nav{
    height: 100%;
    width: 30%;

    /* DEBUG */
    border: 8px solid coral;
}

.chat{
    height: 100%;
    width: 70%;

    /* DEBUG */
    border: 8px solid red;
}