/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
/* layout */
.webapp{
    height: 100vh;

    /* debug */
    background-color: green;
}

.container{
    width: 80%;
    height: 95vh;

    /* debug */
    background-color: blue;
}

.nav{
    height: 100%;
    width: 30%;

    /* debug */
    background-color: coral;
}

.chat-ui{
    height: 95vh;
    width: 70%;

    /* debug */
    background-color:  red;
}


header{
    height: 60px;

    /* debug */
    background-color: black;
}

/* NAV */
.notifications{
    height: 70px;

    /* debug */
    background-color: aqua;
}

.all-contact{
    height: calc(95vh - var(--headerheight) - var(--notifyheight) - var(--searchbarheight));
    overflow: auto;
}
.contact{
    height: 60px;

    /* debug */
    border: 5px solid black;
}

/* CHAT-UI */
.chat{
    height: 100%;
}

.messages{
    height: calc(95vh - 120px);
    padding: 2rem 3.5rem;
    flex-grow: 1;
    overflow: auto;
}

.sent, .incoming{
    margin-bottom: 10px;
}

.message{
    width: 70%;

    /* debug */
    border: 5px solid white;
}

.typing{
    height: 60px;
    background-color: white;
}