/* UTILITIES */

/* custom properties */
:root{
    --headerheight: 60px;
    --notifyheight: 70px;
    --searchbarheight:20px;
}

/* layout */
.flex{
    display: flex;
}

.main-center{
    justify-content: center;
}

.cross-center{
    align-items: center;
}

.flexcol{
    display: flex;
    flex-direction: column;
}

.x-left{
    justify-content: left;
}

.x-right{
    justify-content: right;
}

.end{
    justify-content: end;
}
